
  $grey-1: #617d98;
  $grey-2:#c2bdbd;
  $white: #fff;
  $gold: #c59d5f;
  $black: #222222;
  $transition: all 0.3s linear;
  $spacing: 0.1rem;
  $radius: 0.25rem;
  $light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  $dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  
